/* CSS Stylesheet for Bing Bong */
body, html {
	background-color: rgba(161, 227, 243, 0.966);
    font-size: 16px;
    line-height: 1.5rem;
}
.recipe_title {
    font-family: fantasy;
    font-size: 1.7rem;
    font-weight: bold;
}
#site_title {
    font-family: cursive;
    font-size: 8vh;
    font-weight: bold;
    text-decoration: underline;
    color: darkviolet;
    text-align: center;
}